.head {
  width: 100%;
}

.navbar span {
  color: #e03a3c;
  font-size: larger;
}

.navbar-brand {
  font-size: 33px;
  font-weight: 630;
  margin-right: auto;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #e03a3c;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover {
  color: #e03a3c;
  background: none;
}

.dropdown:hover .deepdropdown-menu {
  display: none;
}

.deepdropdown:hover .deepdropdown-menu {
  display: block;
  position: absolute;
  top: 50px;
  left: -170px;
  background: whitesmoke;
  list-style: none;
  padding: 0;
  transition: all 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e03a3c;
}

.navbar-nav {
  margin-left: auto;
}

.buttonHeader {
  background-color: #e03a3c;
  padding: 5px;
  width: 120px;
  font-size: 20px;
  color: white;
  border: 1px solid #e03a3c;
  margin-left: 10px;
}

/* bg image */

img {
  width: 100%;
  height: 540px;
  background-size: cover;
}

.img_part {
  margin-bottom: 20px;
}

.img_part .content {
  position: absolute;
  top: 80px;
  width: 100%;
  background: #2b2b2b94;
  background-size: cover;
  color: white;
  height: 540px;
  padding: 150px 5px 0 0px;
}

.img_part h1 {
  font-size: 50px;
}

.img_part h5 {
  font-size: 26px;
}

.img_part button {
  background-color: #e03a3c;
  padding: 5px;
  width: 150px;
  font-size: large;
  color: white;
  margin-top: 20px;
}

.img_text {
  width: 50%;
  text-align: left;
}

.img_text h5 {
  font-weight: 450;
}
.head .navbar-toggler {
  border: none;
}
/* section 1 end */
/* section 2 start */

.split_left {
  color: white;
}
.split_left h1 {
  font-size: 35px;
}

.split_left .btn {
  color: white;
  border: 2px solid #e03a3c;
  border-radius: 25px;
  width: 150px;
}

.split_left .btn:hover {
  background-color: #e03a3c;
  transition: all 0.5s;
}

.split_left p {
  margin: 30px 0;
}

.split_right {
  background-color: black;
}

.split_right .con1,
.con3 {
  color: white;
}

.split_right .con2,
.con4 {
  color: white;
}

.split_right i {
  font-size: 30px;
  color: #e03a3c;
  margin-bottom: 10px;
}

/* counting starts */

.counting {
  margin-top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.counting1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px; */
  text-align: center;
  box-shadow: -1px 3px 46px -8px rgba(36, 33, 33, 0.137);
  width: 100%;
}

.countText {
  margin-top: 30px;
  margin: auto;
  margin-top: 35px;
}

.countImg i {
  font-size: 32px;
  color: #e03a3d9f;
  font-weight: 10;
}

.countImg {
  width: 23%;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  padding: 8px;
  box-shadow: -1px 3px 46px -8px rgba(36, 33, 33, 0.158);
  background-color: white;
}

/* tabs starts */

.tab1 {
  text-align: left;
  display: flex;
  margin: auto;
  padding: 20px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  /* width: 100%; */
  /* height: 130px; */
}

.tab1:hover {
  color: #e03a3c;
  border: 1px solid rgb(180, 178, 178);
  cursor: pointer;
  transition: all 0.4s;
}

.tab1:hover h6 {
  color: #e03a3c;
  transition: all 0.4s;
}

.tab1 i {
  font-size: 43px;
  display: flex;
  padding: 0px 5px;
}
.tab1 h6 {
  font-size: 20px;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.644);
}
/* about ends */

/* service starts */

.service_top h1 {
  color: white;
  text-align: center;
}
.service_top hr {
  color: #f00a0e;
  height: 3px;
  background-color: #e03a3c;
  width: 60px;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  opacity: 1;
}

.service_top p {
  color: white;
  padding: 15px 5px;
  font-size: 17px;
  text-align: center;
}

.ser1 {
  /* background-color: #252525;
  color: white;
  border-radius: 7px;
  margin: 10px; */
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background: #252525;
  transition: 0.3s;
  color: white;
}

.serIcon {
  height: 150px;
  width: 25%;
  float: left;
}

.ser1 i {
  font-size: 40px;
  color: #e03a3c;
}

/* .serDetails {
  float: right;
} */

.ser1 h4 {
  font-size: 20px;
}

.ser1 p {
  font-size: 15px;
}

.ser1 h4:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.4s;
}
/* service ends */
/* potfolio starts */

.folio_top h1 {
  color: black;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.folio_top hr {
  color: #e03a3c;
  height: 3px;
  width: 60px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 5px;
  opacity: 1;
}
.folio_top p {
  color: black;
  padding: 10px 12px;
  font-size: 18px;
  text-align: center;
}

.folio_links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.folio_links li {
  margin: 3px;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px 10px;
  font-weight: 500;
}

.folio_links li:hover {
  background-color: #e03a3c;
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}

.folio_img img {
  height: auto;
  width: 100%;
}

.folio_img {
  position: relative;
  transition: transform 2s;
  overflow: hidden;
  margin-bottom: 20px;
}

.folio_img::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
  transition: transform 300ms;
  background-color: #2525256b;
}

.folio1:hover .folio_img::after {
  transform: scale(1);
}

.folio1:hover .folio_img img {
  transform: scale(1.3, 1.3);
  transition: transform 1s;
}
.folio1 {
  position: relative;
}
.folio_text {
  position: absolute;
  top: 50%;
  left: 20%;
  bottom: 40%;
  color: white;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.folio_text p {
  font-weight: 50;
  color: rgba(255, 255, 255, 0.856);
}
.folio_text i {
  color: rgba(255, 255, 255, 0.548);
  font-size: 20px;
  margin: 5px;
}
.folio_text i:hover {
  color: white;
  cursor: pointer;
  transition: color 400ms;
}

.folio1:hover .folio_text {
  opacity: 1;
}

/* pricing starts */

.price_botm {
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.price_botm h4 {
  margin-top: 25px;
  text-transform: uppercase;
}

.price span {
  font-size: 45px;
}

.price_botm ul {
  list-style: none;
  padding-left: 0;
  line-height: 38px;
  font-size: 15px;
}

.strike {
  text-decoration: line-through;
}
.text_dull {
  color: rgba(255, 255, 255, 0.479);
}

.price_botm .btn {
  color: white;
  border: 1px solid rgb(168, 166, 166);
  padding: 10px 40px;
  margin: 40px auto;
}

.price_botm .btn:hover {
  border: 1px solid white;
  transition: all 0.3s;
}

.price1 {
  background-color: #252525;
  border-radius: 10px;
  padding-top: 5px;
}
.price2 {
  background-color: #e03a3c;
  border-radius: 10px;
  padding-top: 5px;
}

/* price ends */
/* faq starts */

.faq_acc .accordion-button:hover {
  color: #e03a3c;
  cursor: pointer;
}

.faq_acc .accordion-item {
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}
.faq_acc .accordion-item button {
  font-size: 18px;
}

.accordion-header .accordion-button {
  background-color: #ffffff;
}

.faq_acc .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.faq_acc .accordion-button:not(.collapsed) {
  color: #2b2b2b;
}

/* faq ends */
/* contact */
.contact_botm {
  text-align: center;
}
.address {
  padding: 20px 10px;
  text-align: center;
  /* position: relative; */
  box-shadow: -1px 3px 46px -8px rgba(36, 33, 33, 0.11);
}

.contactImg {
  font-size: 27px;
  color: #e03a3c;
  border: 1px dotted #e03a3d85;
  border-radius: 50%;
  width: 50px;
  height: 55px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactRight {
  box-shadow: -1px 3px 46px -8px rgba(36, 33, 33, 0.11);
  padding: 30px;
}
.contactRight .sendMessage {
  text-align: center;
  padding-top: 10px;
}

.contactText h4 {
  margin-bottom: 18px;
}

.form-control:focus {
  border-color: rgb(228, 225, 225);
  box-shadow: none;
}

/* contact starts */

.footer_details {
  color: white;
  font-size: 15px;
}

.details span {
  color: #e03a3c;
}

.link_details ul {
  list-style: none;
  padding: 0;
  line-height: 38px;
}

.text_dull i {
  color: #ffffff;
  margin-right: 5px;
}

/* footer starts */

.copyLeft {
  color: white;
  font-size: 14px;
}

.copyLeft .made {
  color: #e03a3c;
}

.twitter_icon {
  font-size: 18px;
  margin: 5px;
  padding: 5px;
  color: #ffffff;
  background-color: #2b2b2b;
  width: 35px;
  height: 35px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter_icon i:hover {
  cursor: pointer;
  background-color: #e03a3c;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
.getstarted_button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .img_text {
    width: 100%;
    text-align: center;
  }
  .img_text h1 {
    font-size: 30px;
  }
  .img_text h5 {
    font-size: 20px;
  }
  .menu_button {
    text-align: right;
  }
  .split_right,
  .split_left {
    text-align: center;
  }
  .split_left {
    padding: 0px 10px;
  }
  .tab1 h6 {
    display: none;
  }
  .tab1 i {
    font-size: 35px;
    padding-bottom: 10px;
  }
  .head .navbar-toggler {
    order: 2;
  }
  .getstarted_button {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .buttonHeader {
    font-size: 13px;
    padding: 5px;
    width: 80px !important;
    /* background-color: aqua !important; */
    height: 35px;
    width: 120px;
  }
  footer {
    display: none;
  }
  .getstarted_button {
    display: block;
  }
}

@media only screen and(max-width:375px) {
}

@media only screen and(max-width:320px) {
}

@media only screen and(min-width:769px) {
  .menu_button {
    text-align: right;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .serIcon {
    width: 15%;
    height: 80px;
  }
}

@media only screen and(min-width:1024px) {
  .img_text {
    width: 100%;
    text-align: center;
  }
}
@media only screen and(min-width:1440px) {
  .img_text {
    width: 50%;
    text-align: left;
  }
}
@media only screen and(min-width:2560px) {
}
